{erl_opts, [debug_info]}.
{deps, [
         {gproc, ".*", {git, "git://github.com/uwiger/gproc", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [xfp]}
]}.

{plugins, [pc]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_env, [{"CFLAGS", "$CFLAGS -g -Wall -Werror"}]}.
{port_specs, [{"priv/xfp", ["c_src/*.c"]}]}.

